streamlit
streamlit-authenticator
langchain
langchain-openai
langchain-google-genai
pypdf
python-dotenv
plotly
reportlab
langchain-community
faiss-cpu
sentence-transformers
langchain-huggingface
requests
openai
openpyxl
schedule
pyyaml
google-genai
groq
docx2txt
